# PGA Tour Project - Data Science Programming

Group Members:
* Akshat Johari
* Kolton Fowler
* Prakhar Bansal
* Shreya Bhootda

In [1]:
import pandas as pd
import numpy as np
from pandas import Series
import matplotlib
import pandas_profiling as pp
%matplotlib inline
pd.options.mode.chained_assignment = None

In [2]:
# read in the data

golfData = pd.read_csv('pgaTourData.csv')

golfData

golfData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player Name         2312 non-null   object
 1   Rounds              1678 non-null   float64
 2   Fairway Percentage  1678 non-null   float64
 3   Year                2312 non-null   int64
 4   Avg Distance        1678 non-null   float64
 5   gir                 1678 non-null   float64
 6   Average Putts       1678 non-null   float64
 7   Average Scrambling  1678 non-null   float64
 8   Average Score       1678 non-null   float64
 9   Points              2296 non-null   object
 10  Wins                293 non-null    float64
 11  Top 10              1458 non-null   float64
 12  Average SG Putts    1678 non-null   float64
 13  Average SG Total    1678 non-null   float64
 14  SG:OTT              1678 non-null   float64
 15  SG:APR              1678 non-null   float64
 16  SG:ARG              1678 non-null   float64
 17  Money               2300 non-null   object
dtypes: float64(14), int64(1), object(3)
memory usage: 325.2+ KB

In [3]:
# pp.ProfileReport(golfData)

In [4]:
# Dropping rows for which there is no data
cleanedGolf = golfData.dropna(how = 'any', subset = ['Rounds'])

# Filling 0 wins for players who have won nothing in the year
cleanedGolf['Wins'] = cleanedGolf['Wins'].fillna(0)

# Filling 0 wins for players who have won nothing in the year
cleanedGolf['Top 10'] = cleanedGolf['Top 10'].fillna(0)

cleanedGolf

,Player Name,Rounds,Fairway Percentage,Year,Avg Distance,gir,Average Putts,Average Scrambling,Average Score,Points,Wins,Top 10,Average SG Putts,Average SG Total,SG:OTT,SG:APR,SG:ARG,Money
0,Henrik Stenson,60.0,75.19,2018,291.5,73.51,29.93,60.67,69.617,868,0.0,5.0,-0.207,1.153,0.427,0.960,-0.027,"$2,680,487"
1,Ryan Armour,109.0,73.58,2018,283.5,68.22,29.31,60.13,70.758,"1,006",1.0,3.0,-0.058,0.337,-0.012,0.213,0.194,"$2,485,203"
2,Chez Reavie,93.0,72.24,2018,286.5,68.67,29.12,62.27,70.432,"1,020",0.0,3.0,0.192,0.674,0.183,0.437,-0.137,"$2,700,018"
3,Ryan Moore,78.0,71.94,2018,289.2,68.80,29.17,64.16,70.015,795,0.0,5.0,-0.271,0.941,0.406,0.532,0.273,"$1,986,608"
4,Brian Stuard,103.0,71.44,2018,278.9,67.12,29.11,59.23,71.038,421,0.0,3.0,0.164,0.062,-0.227,0.099,0.026,"$1,089,763"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,Phil Mickelson,76.0,52.66,2010,299.1,65.13,28.79,61.84,69.966,"1,629",1.0,5.0,-0.147,1.001,0.185,0.738,0.228,"3,821,733"
1674,John Daly,63.0,52.21,2010,305.7,65.66,29.78,53.53,71.697,97,0.0,0.0,-0.653,-0.989,0.336,-0.374,-0.298,"158,587"
1675,Jimmy Walker,82.0,51.29,2010,292.9,65.88,29.14,58.46,70.953,554,0.0,2.0,0.252,0.093,-0.538,0.336,0.047,"937,987"
1676,Daniel Chopra,74.0,51.27,2010,295.9,61.64,28.88,56.16,72.194,142,0.0,0.0,0.361,-1.096,-0.307,-1.070,-0.084,"311,405"
1677,Martin Flores,75.0,50.15,2010,300.7,64.79,29.41,54.00,71.882,137,0.0,1.0,-0.106,-0.883,-0.223,-0.553,-0.001,"318,673"

In [5]:
cleanedGolf.columns

Index(['Player Name', 'Rounds', 'Fairway Percentage', 'Year', 'Avg Distance',
       'gir', 'Average Putts', 'Average Scrambling', 'Average Score', 'Points',
       'Wins', 'Top 10', 'Average SG Putts', 'Average SG Total', 'SG:OTT',
       'SG:APR', 'SG:ARG', 'Money'],
      dtype='object')

In [6]:
cleanedGolf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1678 entries, 0 to 1677
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player Name         1678 non-null   object
 1   Rounds              1678 non-null   float64
 2   Fairway Percentage  1678 non-null   float64
 3   Year                1678 non-null   int64
 4   Avg Distance        1678 non-null   float64
 5   gir                 1678 non-null   float64
 6   Average Putts       1678 non-null   float64
 7   Average Scrambling  1678 non-null   float64
 8   Average Score       1678 non-null   float64
 9   Points              1674 non-null   object
 10  Wins                1678 non-null   float64
 11  Top 10              1678 non-null   float64
 12  Average SG Putts    1678 non-null   float64
 13  Average SG Total    1678 non-null   float64
 14  SG:OTT              1678 non-null   float64
 15  SG:APR              1678 non-null   float64
 16  SG:ARG              1678 non-null   float64
 17  Money               1674 non-null   object
dtypes: float64(14), int64(1), object(3)
memory usage: 249.1+ KB

In [7]:
# Replacing string values in points with float

cleanedGolf['Points'] = cleanedGolf['Points'].apply(lambda x: str(x).replace(',', ''))
# cleanedGolf['Points'].replace('nan', np.nan, inplace = True)

cleanedGolf['Points'] = cleanedGolf['Points'].astype(float)

In [8]:
# Getting rid of the '$' and ',' from the 'Money' column

cleanedGolf['Money'] = cleanedGolf['Money'].apply(lambda x: str(x).replace(',', ''))
cleanedGolf['Money'] = cleanedGolf['Money'].apply(lambda x: str(x).replace('$', ''))
cleanedGolf['Money'] = cleanedGolf['Money'].astype(float)

In [9]:
cleanedGolf

,Player Name,Rounds,Fairway Percentage,Year,Avg Distance,gir,Average Putts,Average Scrambling,Average Score,Points,Wins,Top 10,Average SG Putts,Average SG Total,SG:OTT,SG:APR,SG:ARG,Money
0,Henrik Stenson,60.0,75.19,2018,291.5,73.51,29.93,60.67,69.617,868.0,0.0,5.0,-0.207,1.153,0.427,0.960,-0.027,2680487.0
1,Ryan Armour,109.0,73.58,2018,283.5,68.22,29.31,60.13,70.758,1006.0,1.0,3.0,-0.058,0.337,-0.012,0.213,0.194,2485203.0
2,Chez Reavie,93.0,72.24,2018,286.5,68.67,29.12,62.27,70.432,1020.0,0.0,3.0,0.192,0.674,0.183,0.437,-0.137,2700018.0
3,Ryan Moore,78.0,71.94,2018,289.2,68.80,29.17,64.16,70.015,795.0,0.0,5.0,-0.271,0.941,0.406,0.532,0.273,1986608.0
4,Brian Stuard,103.0,71.44,2018,278.9,67.12,29.11,59.23,71.038,421.0,0.0,3.0,0.164,0.062,-0.227,0.099,0.026,1089763.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,Phil Mickelson,76.0,52.66,2010,299.1,65.13,28.79,61.84,69.966,1629.0,1.0,5.0,-0.147,1.001,0.185,0.738,0.228,3821733.0
1674,John Daly,63.0,52.21,2010,305.7,65.66,29.78,53.53,71.697,97.0,0.0,0.0,-0.653,-0.989,0.336,-0.374,-0.298,158587.0
1675,Jimmy Walker,82.0,51.29,2010,292.9,65.88,29.14,58.46,70.953,554.0,0.0,2.0,0.252,0.093,-0.538,0.336,0.047,937987.0
1676,Daniel Chopra,74.0,51.27,2010,295.9,61.64,28.88,56.16,72.194,142.0,0.0,0.0,0.361,-1.096,-0.307,-1.070,-0.084,311405.0
1677,Martin Flores,75.0,50.15,2010,300.7,64.79,29.41,54.00,71.882,137.0,0.0,1.0,-0.106,-0.883,-0.223,-0.553,-0.001,318673.0

In [26]:
# Getting median values of points and money per year

medianPoints = dict(cleanedGolf.groupby('Year').median()['Points'])
medianEarnings = dict(cleanedGolf.groupby('Year').median()['Money'])

({2010: 472.0,
  2011: 471.0,
  2012: 497.5,
  2013: 539.0,
  2014: 621.5,
  2015: 588.0,
  2016: 590.0,
  2017: 467.5,
  2018: 524.5},
 {2010: 950799.5,
  2011: 944637.5,
  2012: 1043760.0,
  2013: 914979.5,
  2014: 1159784.5,
  2015: 1072360.0,
  2016: 1086964.0,
  2017: 1116503.0,
  2018: 1295325.0})

In [11]:
# pp.ProfileReport(cleanedGolf)

In [23]:
# Getting rows with NA values
nadf = cleanedGolf[cleanedGolf['Points'].isna()]
# nadf

,Player Name,Rounds,Fairway Percentage,Year,Avg Distance,gir,Average Putts,Average Scrambling,Average Score,Points,Wins,Top 10,Average SG Putts,Average SG Total,SG:OTT,SG:APR,SG:ARG,Money
41,Kiradech Aphibarnrat,51.0,65.12,2018,294.7,62.20,28.93,55.59,70.629,NaN,0.0,0.0,0.138,0.511,0.485,-0.247,0.135,NaN
713,Patrick Rodgers,57.0,56.97,2015,307.7,66.77,28.98,56.47,70.619,NaN,0.0,0.0,-0.003,0.129,0.680,-0.456,-0.090,NaN
901,Brooks Koepka,56.0,56.91,2014,307.0,64.98,28.95,57.51,70.052,NaN,0.0,0.0,0.162,0.958,0.425,0.598,-0.226,NaN
1287,Ryo Ishikawa,54.0,53.28,2012,290.0,59.61,29.44,54.44,70.854,NaN,0.0,0.0,0.196,-0.038,-0.199,0.069,-0.104,NaN

In [24]:
# replacing NA values with medians

def pointFunc(yr):
    return(medianPoints[yr])
def monFunc(yr):
    return(medianEarnings[yr])

nadf['Money'] = nadf.apply(lambda x: monFunc(x['Year']), axis = 1)
nadf['Points'] = nadf.apply(lambda x: pointFunc(x['Year']), axis = 1)

In [25]:
nadf

,Player Name,Rounds,Fairway Percentage,Year,Avg Distance,gir,Average Putts,Average Scrambling,Average Score,Points,Wins,Top 10,Average SG Putts,Average SG Total,SG:OTT,SG:APR,SG:ARG,Money
41,Kiradech Aphibarnrat,51.0,65.12,2018,294.7,62.20,28.93,55.59,70.629,524.5,0.0,0.0,0.138,0.511,0.485,-0.247,0.135,1295325.0
713,Patrick Rodgers,57.0,56.97,2015,307.7,66.77,28.98,56.47,70.619,588.0,0.0,0.0,-0.003,0.129,0.680,-0.456,-0.090,1072360.0
901,Brooks Koepka,56.0,56.91,2014,307.0,64.98,28.95,57.51,70.052,621.5,0.0,0.0,0.162,0.958,0.425,0.598,-0.226,1159784.5
1287,Ryo Ishikawa,54.0,53.28,2012,290.0,59.61,29.44,54.44,70.854,497.5,0.0,0.0,0.196,-0.038,-0.199,0.069,-0.104,1043760.0

In [36]:
# Putting the median values into the cleanedGolf dataframe 
cleanedGolf.loc[cleanedGolf.index.isin(nadf.index), ['Points', 'Money']] = nadf[['Points', 'Money']]